@charset "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 0pt;
}

.content {
	display: inline-block;
	width: 768px;
}
.head {
	width: 100%;
	text-align: center;
}
.logoBox {
	display: inline-block;
	width: 240px;
	height: 44px;
	padding: 60px 0px 20px;
	text-align: center;
}
.tlogo {
	display: inline-block;
	/* border: 1px solid red; */
	width: 240px;
	height: 44px;
	background-image: url("../img/m_naver_logo_20191126.png");
	background-size: 242px auto;
	background-repeat: norepeat; 
	cursor: pointer;
}
.inBox {
	display: inline-block;
	width: 460px;
	text-align: left;
}
.inputFr {
	display: inline-block;
	width: 100%;
	height: 51px;
	border: 1px solid #dadada;
	padding: 10px 110px 10px 14px;
	box-sizing: border-box;
}
.input {
	display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
    vertical-align: top;
}
.inputId {
	display: inline-block;
	width: 333.33px;
	height: 29px;
	padding: 0px 25px 0px 0px;
	box-sizing: border-box;
	border: none;
	outline: none;
}

.idDomain {
	display: inline-block;
	position: relative;
	top: -25px;
	right: -345px;
	font-size: 15px;
    line-height: 18px;
	box-sizing: border-box;
    color: #8e8e8e;
}
.input01 {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
   
}
.input01:focus {
	outline: none;
	border: 1px solid lightgreen;
}
.inputTitle {
	display: inline-block;
	font-size: 14px;
	width: 100%;
	text-align: left;
	
	
}