.mxw500 {
	max-width: 500px;	
}
.mxw550 {
	max-width: 550px;	
}
.mxw600 {
	max-width: 600px;	
}
.mxw650 {
	max-width: 650px;	
}
.mxw700 {
	max-width: 650px;	
}
.mxw750 {
	max-width: 650px;	
}
.mxw800 {
	max-width: 650px;	
}