@charset "UTF-8";

html, body {
	margin: 0px;
	text-align: center;
}

.card {
	box-shadow: 0px 0px 7px gray;
	border: 1px solid gray;
	width: 330px;
}

div {
	background-color: ivory;
	text-align: center;
	height: 50px;
	margin: 20px auto 10px;
}

h3 {
	line-height: 15px;
}

iframe {
	background-color: yellow;
	margin-top: 0px;
	margin-bottom: 0px;
}